$color: white
$color-black: #333
$color-gray: #666
$color-link: #a02748

$bg-color: white
$bg-color-1: #f3f3f3
$bg-color-2: #eee
$bg-color-3: #ccc
$bg-color-4: #222
$bg-color-5: #000
$bg-color-link-1: #851b3b
$bg-color-link-2: #ab8041

body 
    font-size: 1.3rem


h1 
    font: 
        family: 'Simonetta', cursive
        style: italic
        size: 4rem
    margin: 30px 0px

h2 
    margin: 50px 0px 30px 0px
    font: 
        family: 'Montserrat', sans-serif
        size: 1.8rem
    text-transform: uppercase
h3
    font-size: 1.4rem
    font-weight: 600
    margin-top: 6px
    padding: 0px
    text-transform: uppercase

p
    font: 
        family: 'Montserrat', sans-serif
        weight: 100


main 
    > div 
        margin: 0 20px

a 
    color: $color-black


a:hover
    color: $color-link

    
