footer
    background-color: $bg-color-3


footer 
    > .container 
        padding: 40px 0px 100px 0px
        
    span
        font-style: italic
        
    h3
        font-weight: 200
        font-size: 1.6rem
        padding-bottom: 30px

    .col-sm-3
        background-image: url('src/img/line.png')
        background-position: 16px 30px
        background-repeat: no-repeat
        padding-right: 30px



        
        
.navbar 
    > .container 
        padding: 15px
        color: $color
        font-weight: 100
        text-transform: uppercase

.btn
    margin-bottom: 10px
    text-align: left

.btn-primary
    border: 2px solid #999
    border-radius: 12px
    padding: 9px 30px
    margin: 20px auto
    background-color: $bg-color-3
    color: $color-gray
    text-transform: uppercase
    
    font:
        weight: 600
        size: 1rem
        style: underline
        
.btn-primary:hover
    color: $bg-color
    background-color: $bg-color-4
    border: 2px solid $bg-color-4
    transition: all 0.3s

.btn-social
    font-size: 2rem
    border-radius: 25px
    padding: 7px 3px 7px 8px
    margin: 5px
    border: 2px solid #333
    width: 38px
    opacity: 0.5
    color: $color-black
    
.btn-social:hover
    color: white
    background-color: $color-black
    transition: all 0.5s
    
//
//@mixin placeholder()
//    input::-webkit-input-placeholder
//        @content
//    input:-moz-placeholder
//        @content
//    input::-moz-placeholder
//        @content
//    input:-ms-input-placeholder
//        @content
//
//@include placeholder()
//    font-size: 1.2rem
//        