
body 
    background: $bg-color
    font-family: 'Montserrat', sans-serif
    font-weight: 400

    
.jumbotron,
.navbar 
    margin-bottom: 0px

.jumbotron.title 
    .container
        div
            padding: 0
        div:last-child
            text-align: right
    form 
        margin: 15px 0px

    input[type="text"]
        font-size: 1.4rem
        padding: 5px 10px
        
    input[type="image"]
        width: 20px
        position: relative
        top: 6px
        left: 325px
        
    .btn-social
        color: #fff
        border: 2px solid $color
        opacity: 1
        text-align: left        
    .btn-social:hover
        color: $color-link
        background-color: $color
        transition: all 0.2s
        margin-bottom: 10px
        
    .btn-primary-outline
        border: 2px solid $bg-color-link-2
        border-radius: 5px
        color: #fff
        background-color: $bg-color-link-2
        font-weight: 400
        padding: 7px 25px 7px 25px
        margin: 15px 0px 20px 20px
        
    .btn-primary-outline:hover
        border: 2px solid black
        background-color: black

    background: 
        image: url('src/img/top.jpg')
        repeat: no-repeat
        size: cover
        position: 0% 0%
    margin: 0px
    padding: 10px 0px


nav.navbar
    padding: 0
#navbar
    position: relative
    left: -10px