
#page 
    background: -moz-linear-gradient(left, rgba(68,12,27,0.9) 0%, rgba(68, 12, 27, 0.8) 40%, rgba(68,12,27,0.2) 50%, rgba(0, 0, 0, 0) 100%), url('src/img/page.jpg') no-repeat
    background: -webkit-gradient(linear, left, right, color-stop(0%, rgba(68,12,27,1)), color-stop(40%, rgba(68,12,27,0.8)), color-stop(50%, rgba(68,12,27,0.2)), color-stop(100%, rgba(0, 0, 0, 0))), url('src/img/page.jpg') no-repeat    
    background: -webkit-linear-gradient(left, rgba(68,12,27,0.9) 0%, rgba(68, 12, 27, 0.8) 40%, rgba(68,12,27,0.2) 50%, rgba(0, 0, 0, 0) 100%), url('src/img/page.jpg') no-repeat
    background: -o-linear-gradient(left, rgba(68,12,27,0.9) 0%, rgba(68, 12, 27, 0.8) 40%, rgba(68,12,27,0.2) 50%, rgba(0, 0, 0, 0) 100%), url('src/img/page.jpg') no-repeat
    background: -ms-linear-gradient(left, rgba(68,12,27,0.9) 0%, rgba(68, 12, 27, 0.8) 40%, rgba(68,12,27,0.2) 50%, rgba(0, 0, 0, 0) 100%), url('src/img/page.jpg') no-repeat
    background: linear-gradient(to right, rgba(68,12,27,0.9) 0%, rgba(68, 12, 27, 0.8) 40%, rgba(68,12,27,0.2) 50%, rgba(0, 0, 0, 0) 100%), url('src/img/page.jpg') no-repeat
    background-size: cover
    height: 450px
    background-repeat: no-repeat
    background-position: 0px 30%
    padding-top: 80px

    .title 
        font: 
            family: 'Simonetta', cursive
            style: italic
            size: 5rem
            shadow: 1px 1px 20px #000
        color: $color
        line-height: 6rem
    
article.col-md-5
        padding: 5px 40px 0px 0px

    
.news      
    padding: 0px 25px
    img 
        max-height: 55px
        position: relative
        left: -5px
    .container
        border-top: 1px solid #ccc
        padding: 10px 15px 10px 0px
        width: 100%
        background: url('src/img/arrow.png') 100% 50% no-repeat
        list-style: none
        display: inline-block
        height: 80px
        div
            padding: 2px
        div:last-child:hover
            padding: 0px
            transition: all 0.2s
    col-xs-3
        padding-right: 0px

.dark
        background-color: $bg-color-1

.gallery
    background-color: $bg-color-2
    margin: 0
    padding: 50px 0px 30px 0px

    a
        color: #fff
        text-decoration: none

    .row
        padding-bottom: 0px
        
    .row:first-child
        figcaption
            background-color: $bg-color-link-2
            padding: 15px
            text-align: center
            font-size: 2rem
            color: $color
            text-transform: uppercase
            position: relative
            top: -30px            
        a:hover
            figcaption
                background-color: $bg-color-link-1
                transition: all 0.5s

    .row:last-child
        figcaption
            background-color: $bg-color-link-2
            padding: 10px
            text-align: center
            font-size: 1.5rem
            background-color: $bg-color-4
            opacity: 0.7
            position: relative
            top: -40px            
        a:hover
            figcaption
                background-color: $bg-color-link-1
                opacity: 0.8
                transition: all 0.5s

    img
        width: 100%



