body {
  font-size: 1.3rem; }

h1 {
  font-family: "Simonetta", cursive;
  font-style: italic;
  font-size: 4rem;
  margin: 30px 0px; }

h2 {
  margin: 50px 0px 30px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase; }

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 6px;
  padding: 0px;
  text-transform: uppercase; }

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 100; }

main > div {
  margin: 0 20px; }

a {
  color: #333; }

a:hover {
  color: #a02748; }

body {
  background: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

.jumbotron,
.navbar {
  margin-bottom: 0px; }

.jumbotron.title {
  background: url("top.jpg") no-repeat;
  background-size: cover;
  background-position: 0% 0%;
  margin: 0px;
  padding: 10px 0px; }
  .jumbotron.title .container div {
    padding: 0; }
  .jumbotron.title .container div:last-child {
    text-align: right; }
  .jumbotron.title form {
    margin: 15px 0px; }
  .jumbotron.title input[type="text"] {
    font-size: 1.4rem;
    padding: 5px 10px; }
  .jumbotron.title input[type="image"] {
    width: 20px;
    position: relative;
    top: 6px;
    left: 325px; }
  .jumbotron.title .btn-social {
    color: #fff;
    border: 2px solid white;
    opacity: 1;
    text-align: left; }
  .jumbotron.title .btn-social:hover {
    color: #a02748;
    background-color: white;
    transition: all 0.2s;
    margin-bottom: 10px; }
  .jumbotron.title .btn-primary-outline {
    border: 2px solid #ab8041;
    border-radius: 5px;
    color: #fff;
    background-color: #ab8041;
    font-weight: 400;
    padding: 7px 25px 7px 25px;
    margin: 15px 0px 20px 20px; }
  .jumbotron.title .btn-primary-outline:hover {
    border: 2px solid black;
    background-color: black; }

nav.navbar {
  padding: 0; }

#navbar {
  position: relative;
  left: -10px; 
  text-transform: uppercase;
}

#page {
  background: -moz-linear-gradient(left, rgba(68, 12, 27, 0.9) 0%, rgba(68, 12, 27, 0.8) 40%, rgba(68, 12, 27, 0.2) 50%, rgba(0, 0, 0, 0) 100%), url("src/img/page.jpg") no-repeat;
  background: -webkit-gradient(linear, left, right, color-stop(0%, #440c1b), color-stop(40%, rgba(68, 12, 27, 0.8)), color-stop(50%, rgba(68, 12, 27, 0.2)), color-stop(100%, rgba(0, 0, 0, 0))), url("src/img/page.jpg") no-repeat;
  background: -webkit-linear-gradient(left, rgba(68, 12, 27, 0.9) 0%, rgba(68, 12, 27, 0.8) 40%, rgba(68, 12, 27, 0.2) 50%, rgba(0, 0, 0, 0) 100%), url("src/img/page.jpg") no-repeat;
  background: -o-linear-gradient(left, rgba(68, 12, 27, 0.9) 0%, rgba(68, 12, 27, 0.8) 40%, rgba(68, 12, 27, 0.2) 50%, rgba(0, 0, 0, 0) 100%), url("src/img/page.jpg") no-repeat;
  background: -ms-linear-gradient(left, rgba(68, 12, 27, 0.9) 0%, rgba(68, 12, 27, 0.8) 40%, rgba(68, 12, 27, 0.2) 50%, rgba(0, 0, 0, 0) 100%), url("src/img/page.jpg") no-repeat;
  background: linear-gradient(to right, rgba(68, 12, 27, 0.9) 0%, rgba(68, 12, 27, 0.8) 40%, rgba(68, 12, 27, 0.2) 50%, rgba(0, 0, 0, 0) 100%), url("src/img/page.jpg") no-repeat;
  background-size: cover;
  height: 450px;
  background-repeat: no-repeat;
  background-position: 0px 30%;
  padding-top: 80px; }
  #page .title {
    font-family: "Simonetta", cursive;
    font-style: italic;
    font-size: 5rem;
    font-shadow: 1px 1px 20px #000;
    color: white;
    line-height: 6rem; }

article.col-md-5 {
  padding: 5px 40px 0px 0px; }

.news {
  padding: 0px 25px; }
  .news img {
    max-height: 55px;
    position: relative;
    left: -5px; }
  .news .container {
    border-top: 1px solid #ccc;
    padding: 10px 15px 10px 0px;
    width: 100%;
    background-image: url("src/img/arrow.png") 100% 50% no-repeat;
    list-style: none;
    display: inline-block;
    height: 80px; }
    .news .container div {
      padding: 2px; }
    .news .container div:last-child:hover {
      padding: 0px;
      transition: all 0.2s; }
  .news col-xs-3 {
    padding-right: 0px; }

.dark {
  background-color: #f3f3f3; }

.gallery {
  background-color: #eee;
  margin: 0;
  padding: 50px 0px 30px 0px; }
  .gallery a {
    color: #fff;
    text-decoration: none; }
  .gallery .row {
    padding-bottom: 0px; }
  .gallery .row:first-child figcaption {
    background-color: #ab8041;
    padding: 15px;
    text-align: center;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    position: relative;
    top: -30px; }
  .gallery .row:first-child a:hover figcaption {
    background-color: #851b3b;
    transition: all 0.5s; }
  .gallery .row:last-child figcaption {
    background-color: #ab8041;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    background-color: #222;
    opacity: 0.7;
    position: relative;
    top: -40px; }
  .gallery .row:last-child a:hover figcaption {
    background-color: #851b3b;
    opacity: 0.8;
    transition: all 0.5s; }
  .gallery img {
    width: 100%; }

footer {
  background-color: #ccc; }

footer > .container {
  padding: 40px 0px 100px 0px; }
footer span {
  font-style: italic; }
footer h3 {
  font-weight: 200;
  font-size: 1.6rem;
  padding-bottom: 30px; }
footer .col-sm-3 {
  background-image: url("src/img/line.png");
  background-position: 16px 30px;
  background-repeat: no-repeat;
  padding-right: 30px; }

.btn {
  margin-bottom: 10px;
  text-align: left; }

.btn-primary {
  border: 2px solid #999;
  border-radius: 12px;
  padding: 9px 30px;
  margin: 20px auto;
  background-color: #ccc;
  color: #666;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  font-style: underline; }

.btn-primary:hover {
  color: white;
  background-color: #222;
  border: 2px solid #222;
  transition: all 0.3s; }

.btn-social {
  font-size: 2rem;
  border-radius: 25px;
  padding: 7px 3px 7px 8px;
  margin: 5px;
  border: 2px solid #333;
  width: 38px;
  opacity: 0.5;
  color: #333; }

.btn-social:hover {
  color: white;
  background-color: #333;
  transition: all 0.5s; }

/*# sourceMappingURL=style.css.map */
